@property --color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #fcc;
}

@property --color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #cff;
}

@property --color-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: #cfc;
}

.container {
  min-height: 100vh;
  height: 100vh;
  height: -webkit-fill-available;
  height: stretch;
  background: -webkit-linear-gradient(60deg, #fcc, #cff, #cfc) fixed;
  background: -webkit-linear-gradient(60deg, #fcc, #cff, #cfc) fixed;
}

.splash {
  min-height: 100vh;
  height: 100vh;
  height: -webkit-fill-available;
  height: stretch;
  align-items: center;
  align-content: center;
  display: flex;
  -webkit-animation: one 6s infinite linear;
  animation: one 6s infinite linear;
  background: -webkit-linear-gradient(
      60deg,
      var(--color-1),
      var(--color-2),
      var(--color-3)
    )
    fixed;
  background: linear-gradient(
      60deg,
      var(--color-1),
      var(--color-2),
      var(--color-3)
    )
    fixed;
}

@media (prefers-reduced-motion: reduce) {
  .splash {
    animation: none;
  }
}

.imy {
  cursor: default;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16vw;
  line-height: normal;
  color: #ccc;
}

@-webkit-keyframes one {
  0% {
    --color-1: #fcc;
    --color-2: #cff;
    --color-3: #cfc;
  }
  33% {
    --color-1: #ccf;
    --color-2: #ffc;
    --color-3: #fcc;
  }
  67% {
    --color-1: #cfc;
    --color-2: #fcf;
    --color-3: #ccf;
  }
  100% {
    --color-1: #fcc;
    --color-2: #cff;
    --color-3: #cfc;
  }
}

@keyframes one {
  0% {
    --color-1: #fcc;
    --color-2: #cff;
    --color-3: #cfc;
  }
  33% {
    --color-1: #ccf;
    --color-2: #ffc;
    --color-3: #fcc;
  }
  67% {
    --color-1: #cfc;
    --color-2: #fcf;
    --color-3: #ccf;
  }
  100% {
    --color-1: #fcc;
    --color-2: #cff;
    --color-3: #cfc;
  }
}

.main {
  min-height: 100vh;
  margin: auto 50px;
  height: 100vh;
  height: -webkit-fill-available;
  height: stretch;
  align-items: center;
  align-content: center;
  display: flex;
}

.content {
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
}

.links {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 1.4em;
  line-height: 1em;
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
  word-spacing: 1em;
}

.links p {
  margin: auto;
}

.links a {
  word-spacing: normal;
  white-space: nowrap;
  font-weight: bold;
}

.links a:hover {
  color: #99f;
}

.contact {
  background: #f2f2f2;
  padding: 25px;
  font-size: 1.4em;
  line-height: 1em;
  width: 100%;
  margin-left: 25px;
}

.ui.form .field > label,
.links a {
  color: rgba(0, 0, 0, 0.87);
}

.wrapper {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    flex-direction: column;
  }
  .contact {
    margin-left: 0px;
    margin-top: 25px;
  }
  .main {
    height: auto;
  }
}
